*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# this project specific
include/
local/
src/opensezame/opensezame.json
src/opensezame/server.crt
src/opensezame/server.csr
src/opensezame/server.key
src/opensezame/server.key.secure
src/vvv/
